scikit-learn==1.6.1
scipy==1.14
pandas==2.2.2
matplotlib==3.9.2
tqdm==4.66.5
torchmetrics==1.6.0
graphviz==0.21
IPython==8.37.0
numpy==2.2.6
opencv-python==4.12.0.88
psutil==7.0.0
PyYAML==6.0.2
seaborn==0.13.2
albumentations==2.0.8
gitpython==3.1.45
pycocotools==2.0.10
requests==2.32.5
cvat_sdk==2.41.0